---
const platform = "github";
const username = "Jair2250";
const platform1 = "linkedin"
const username1="jair-rivera-03b0a523b"
---

<footer>
  <p>¡Más información sobre mis proyectos en <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Puedes contactarme en <a href={`https://www.${platform1}.com/in/${username1}`}>{platform1}</a>!</p>
</footer>